@using PagedList;
@using PagedList.Mvc;
@model PagedList<WebsiteBanGauBong.Entities.ProductCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <span>Loại</span>
        </th>
        <th>
            <span>Loại Sản Phẩm</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductCategoryId })
        </td>
    </tr>
}

</table>
<div style="clear:both;width:80%;margin:auto;text-align:right;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
