@model WebsiteBanGauBong.Entities.Product

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa chứ ?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Chủng Loại</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCategory.Name)
        </dd>

        <dt>
            <span>Tên</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <span>Mã</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            <span>Ảnh</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images)
        </dd>

        <dt>
            <span>Giá</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            <span>Giảm Giá (%)</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionPrice)
        </dd>

        <dt>
            <span>Số Lượng</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amounts)
        </dd>

        <dt>
            <span>Mô Tả</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
